.jumbotron{
	background: url('https://cdnsecakmi.kaltura.com/p/1807801/sp/180780100/thumbnail/entry_id/0_djgaw0d9/version/100022/def_height/960/def_width/1280')50%;
	background-size: cover;
	color:white;
}

.dr{
	color: yellow;
}